body { background:#fcfcfc; font-family: 'Helvetica Neue', Helvetica, Arial }
yu { display: block; }
hr { clear:both; }
list { display: block; }
list ln { display: block }
img { max-width: 100% }

h1,h2,h3,h4 { font-weight: normal; font-family: 'alte_haas_grotesk_bold'; margin-bottom: 30px }

#view { max-width: 900px; margin:0px auto; padding:90px 30px; }

#view #header { margin-bottom:60px;}
#view #header #logo img { max-width: 240px; display: block; margin:0px auto; }
#view #header #search { display: none }

#view #core { margin-bottom:30px; }

#view #core #content { position: relative; z-index: 100; margin-bottom:45px; }
#view #core #content h1 { text-transform: capitalize; font-size:36px; max-width:400px }
#view #core #content h2 { text-transform: capitalize; font-size:28px; }
#view #core #content h3 { text-transform: capitalize; font-size:24px; border-bottom:2px solid black; line-height: 45px }
#view #core #content p { font-size:18px; margin-bottom: 30px; max-width:600px; line-height: 26px }
#view #core #content p.bref { font-size:28px; margin-bottom: 45px; line-height: 34px }
#view #core #content p a { font-weight: bold }
#view #core #content p a:hover { text-decoration: underline; }
#view #core #content img { margin-bottom: 30px; border-radius: 2px }
#view #core #content img.photo { width:100%; }
#view #core #content columns { columns:2; display: block; margin-bottom:30px; column-gap: 30px }
#view #core #content columns list { line-height: 24px }
#view #core #content columns list ln { padding-left:25px; position: relative; }
#view #core #content columns list ln:before { content:"●"; position: absolute; top:0px; left:0px; font-size:12px;}
#view #core #content columns list ln a { font-weight: bold }

#view #core #content #instructions { margin-bottom:30px; }
#view #core #content #instructions list { margin-bottom:30px; }
#view #core #content #instructions list ln { max-width:700px; margin-bottom:15px; font-size:18px; padding-left:30px; line-height: 24px}
#view #core #content #instructions list ln:before { content:"•"; position: absolute; left:0px; }
#view #core #content #instructions list ln a { font-weight: bold }
#view #core #content #instructions note { max-width:700px; margin-bottom:15px; font-size:18px; padding-left:30px; display: block; font-style: italic; font-size:14px; margin-bottom:30px; }
#view #core #content #instructions a { font-weight: bold;  }
#view #core #content #instructions a:hover { text-decoration: underline; cursor: pointer }
#view #core #content #instructions i { background: #eee;font-size: 12px;text-transform: uppercase;padding: 5px 7.5px;display: inline;font-weight: bold;border-radius: 3px;color:#333 }
#view #core #content #instructions code { font-size: 12px;text-transform: uppercase;padding: 3px 5.5px;display: inline;font-weight: bold;border-radius: 3px;border:2px solid black;}

#view #core #content list.ingredients { display: inline-block; margin-right:15px; font-size:0; padding-left:20px; margin-bottom:30px; }
#view #core #content list.ingredients h3 { margin-left:-20px; }
#view #core #content list.ingredients ln.ingredient { width: 100px;margin-left:-20px;min-height: 210px;display: inline-block;text-align: center;vertical-align: top;border: 2px dashed transparent;border-radius: 10px; }
#view #core #content list.ingredients ln.ingredient:hover t.name { text-decoration: underline; }
#view #core #content list.ingredients ln.ingredient.missing t.name { font-style: italic }
#view #core #content list.ingredients ln.ingredient img { max-width: 100% }
#view #core #content list.ingredients ln.ingredient t.name { display: block; font-family: 'alte_haas_grotesk_bold'; font-size:14px; margin-bottom: 5px;padding:0px 10px }
#view #core #content list.ingredients ln.ingredient t.quantity { display: block; font-size:12px; }

#view #core #related { width:100%;}
#view #core #related ln { width: calc((100% / 3) - 10px); float:left; overflow: hidden;}
#view #core #related ln:nth-child(1), #view #core #related ln:nth-child(2) { margin-right:15px;} 
#view #core #related ln a.photo { border-radius: 2px; display: block; height:160px; background-size:cover; margin-bottom:15px; background-position: center }
#view #core #related ln t.name { display: block; font-family: 'alte_haas_grotesk_bold'; font-size:16px; margin-bottom: 5px; text-transform: capitalize; line-height: 30px }
#view #core #related ln t.details { display: block; font-family: 'alte_haas_grotesk_regular'; font-size:14px; text-transform: capitalize; line-height: 30px; line-height: 18px }

#view #core #content #recipes { columns:3; font-size:14px; font-weight: bold}
#view #core #content #recipes ln { display: block }
#view #core #content #recipes ln a:hover { text-decoration: underline; cursor: pointer; }
#view #core #content #recipes h3 { margin-bottom:10px; }

#view #footer { display: block; padding:15px 0px;font-family: 'alte_haas_grotesk_bold'; font-size:12px; margin-top:60px; }
#view #footer a:hover { text-decoration: underline; cursor: pointer }

@media (max-width: 950px) {
  #view #core #content #recipes { columns:1; }
  #view #core #content columns { columns:1; }
  #view #core #related ln { width:100%; clear:both; float:none; height:330px; }
  #view #core #related ln a.photo { height:200px; }
}
