body { background:#000; font-family: 'Helvetica Neue', Helvetica, Arial }
hr { clear:both; }
ul { display: block; }
img { max-width: 100% }

h1,h2,h3,h4 { font-weight: normal; font-family: 'alte_haas_grotesk_bold'; margin-bottom: 30px }

#view { margin: 5px auto 0px;padding: 45px 30px;background: white }
#view > * { max-width: 800px; margin:0px auto; }

#view.loading { opacity: 0 }
#view.loading #header #photo { opacity: 0 }
#view.ready { opacity: 1; transition: opacity 250ms }
#view.ready #header #photo { opacity: 1 }

#view #header #logo a { cursor: pointer; transition: all 250ms; }
#view #header #logo a:hover { opacity: 0.7 }
#view #header #logo a:focus { opacity: 0.7 }
#view #header #logo a img { max-width: 240px; display: block; margin:0px auto; margin-bottom:30px; }
#view #header ul { display: block;line-height: 40px; border-bottom: 2px solid black; margin-bottom:30px; overflow: hidden;min-height: 40px; }
#view #header ul li { display: inline-block;border-top-left-radius: 3px;border-top-right-radius: 3px; margin-right:10px; margin-bottom: -2px; line-height: 40px}
#view #header ul li a { display: inline-block; font-family: 'alte_haas_grotesk_bold'; font-size:14px; line-height: 40px; border-bottom:2px solid transparent }
#view #header ul li.right { float: right;margin-right:0px;margin-left:10px }
#view #header #search { display: none }
#view.home      #header ul a.home,
#view.about     #header ul a.about,
#view.tools     #header ul a.tools,
#view.gallery   #header ul a.gallery,
#view.nutrition #header ul a.nutrition { color: #333; }

#view #core { margin-bottom:30px; }

#view #core #content { position: relative; z-index: 100; margin-bottom:45px; }
#view #core #content h1 { text-transform: capitalize; font-size:36px; max-width:400px }
#view #core #content h2 { text-transform: capitalize; font-size:28px; }
#view #core #content h1.name { float:left; font-size:32px; line-height: 40px }
#view #core #content h2.serving { float:right; font-size:32px; line-height: 40px }
#view #core #content h3 { text-transform: capitalize; font-size:24px; border-bottom:2px solid black; line-height: 45px }
#view #core #content h4 { text-transform: capitalize; font-size:20px; line-height: 45px }
#view #core #content hr.stroke { border-bottom:2px solid black; max-width: 600px; margin-bottom:30px; }
#view #core #content p { font-size:18px; margin-bottom: 30px; max-width:600px; line-height: 26px }
#view #core #content p.bref { font-size:28px; margin-bottom: 45px; line-height: 34px }
#view #core #content p a { font-weight: bold; cursor: pointer; text-decoration: underline; }
#view #core #content p a:hover { text-decoration: none; }
#view #core #content p a:focus { text-decoration: dotted underline; }
#view #core #content p a.external:after { content:"*"; color:#999; }
#view #core #content p b { font-weight: bold; }
#view #core #content img { margin-bottom: 30px; border-radius: 2px }
#view #core #content img.photo { width:100%; }
#view #core #content columns { columns:2; display: block; margin-bottom:30px; column-gap: 30px }
#view #core #content columns ul { line-height: 24px }
#view #core #content columns ul li { padding-left:25px; position: relative; }
#view #core #content columns ul li:before { content:"●"; position: absolute; top:0px; left:0px; font-size:12px;}
#view #core #content columns ul li a { font-weight: bold }
#view #core #content ul.bullet li { position: relative;padding-left:30px;line-height: 25px; }
#view #core #content ul.bullet li:before { content:"•"; position: absolute;left:15px; }
#view #core #content ul.bullet li a { text-decoration: underline; }

#view #core #content #instructions { margin-bottom:30px; }
#view #core #content #instructions ul { margin-bottom:30px; }
#view #core #content #instructions ul li { max-width:700px; margin-bottom:15px; font-size:18px; padding-left:30px; line-height: 24px}
#view #core #content #instructions ul li:before { content:"•"; position: absolute; left:0px; }
#view #core #content #instructions ul li a { font-weight: bold }
#view #core #content #instructions note { max-width:700px; margin-bottom:15px; font-size:18px; padding-left:30px; display: block; font-style: italic; font-size:14px; margin-bottom:30px; }
#view #core #content #instructions a { font-weight: bold;  }
#view #core #content #instructions a:hover { text-decoration: underline; cursor: pointer }
#view #core #content #instructions a:focus { text-decoration: underline; cursor: pointer }
#view #core #content #instructions i { background: #eee;font-size: 12px;text-transform: uppercase;padding: 5px 7.5px;display: inline-block;font-weight: bold;border-radius: 3px;color: #333;line-height: 15px }
#view #core #content #instructions code { font-size: 12px;text-transform: uppercase;padding: 3px 5.5px;display: inline-block;font-weight: bold;border-radius: 3px;border: 2px solid black;line-height: 15px}

#view #core #content #warn p { border-left: 3px solid orangered; padding-left: 7px; }
#view #core #content #warn p::before { content: 'Warning: '; font-weight: bold; }

#view #core #content ul.ingredients { display: inline-block; margin-right:15px; font-size:0; padding-left:20px; margin-bottom:30px; }
#view #core #content ul.ingredients h3 { margin-left:-20px; }
#view #core #content ul.ingredients li.ingredient { width: 100px;margin-left:-20px;min-height: 210px;display: inline-block;text-align: center;vertical-align: top;border: 2px dashed transparent;border-radius: 10px; }
#view #core #content ul.ingredients li.ingredient a:hover span.name { text-decoration: underline; }
#view #core #content ul.ingredients li.ingredient a:focus span.name { text-decoration: underline; border: 1px dotted black; }
#view #core #content ul.ingredients li.ingredient.missing span.name { font-style: italic }
#view #core #content ul.ingredients li.ingredient img { max-width: 100%; display: block }
#view #core #content ul.ingredients li.ingredient span.name { display: block; font-family: 'alte_haas_grotesk_bold'; font-size:14px; margin-bottom: 5px;padding:0px 10px }
#view #core #content ul.ingredients li.ingredient span.quantity { display: block; font-size:12px; }

#view #core #content .page ul { margin:0px 0px 30px;}
#view #core #content .page ul li { line-height: 24px; position: relative; padding-left:15px;}
#view #core #content .page ul li:before { content:"•"; position: absolute; left:0px; }
#view #core #content .page ul li b { font-weight: bold; }

#view #core #related { width:100%;}
#view #core #related li { width: calc((100% / 3) - 10px); float:left; overflow: hidden;}
#view #core #related li:nth-child(1), #view #core #related li:nth-child(2) { margin-right:15px;}
#view #core #related li a .photo { border-radius: 2px; display: block; width:100%; height:160px; background-size:cover; margin-bottom:15px; background-position: center }
#view #core #related li a span.name { display: block; font-family: 'alte_haas_grotesk_bold'; font-size:16px; margin-bottom: 5px; text-transform: capitalize; line-height: 30px }
#view #core #related li a:hover span.name { text-decoration: underline; cursor: pointer }
#view #core #related li a:focus span.name { text-decoration: underline; cursor: pointer }
#view #core #related li span.details { display: block; font-family: 'alte_haas_grotesk_regular'; font-size:14px; text-transform: capitalize; line-height: 30px; line-height: 18px }

#view #core #content #recipes { columns:3; font-size:14px; font-weight: bold}
#view #core #content #recipes li { display: block }
#view #core #content #recipes li a:hover { text-decoration: underline; cursor: pointer; opacity: 1; }
#view #core #content #recipes li a:focus { text-decoration: underline; cursor: pointer; opacity: 1; }
#view #core #content #recipes h3 { margin-bottom:10px; }

#view #footer { display: block; padding:15px 0px;font-family: 'alte_haas_grotesk_bold'; font-size:14px; margin-top:60px; }
#view #footer a:hover { text-decoration: underline; cursor: pointer }
#view #footer a:focus { text-decoration: underline; cursor: pointer }

@media (max-width: 850px) {
  #view #core #content #recipes { columns:1; }
  #view #core #content columns { columns:1; }
  #view #core #content h1.name { float:none; }
  #view #core #content h2.serving { float:none; font-size:18px; line-height: 12px }
  #view #core #related li { width:100%; clear:both; float:none; height:330px; }
  #view #core #related li a.photo { height:200px; }
}

@media (max-width: 500px) {
  #view { padding:30px 15px; }
  #view #header ul li.right { display: none }
}
